@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* remove default styles */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.content {
    display: flex;
    align-items: center;
    font: bold 48px "Ubuntu";
    margin: 0 auto 0 auto;
}

.logo {
    width: 52px;
    aspect-ratio: 1;
    margin-right: 12px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
    font: 500 20px "Ubuntu";
}

.edit {
    margin-right: 128px;
    padding: 12px 16px 12px 16px;
    border: solid black 4px;
    border-radius: 12px;
}

.stamp {
    font: 700 20px "Ubuntu";
}